* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(90deg, rgb(0,0,90) 0%, rgb(28,181,224)100%);

}
.kartyak {
  display: flex;
  align-items: stretch;
}

.kartya {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.kartya-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}