body {
  margin: 0;
 /* display: flex; */
  place-items: center;
  min-width: 3020px;
  min-height: 100vh;
}

.welcome,
.kartyak h1 {
  font-size: 2em;
  line-height: 1.5;
  color: white;
  padding: 10px;
}

.gombok {
  width: 60%;
  font-size: large;
  margin: 10px;
}